# system file
.DS_Store

# intellji idea
.idea/
*.iml
*.xml
*.mf
*.md

nbproject/
build/
lib/


# eclipse project
.classpath
.settings/
.project

# maven project
target/
bin/
out/

upload-dir/
uploads/